Repository DataDog/libddprof, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Datadog/libdatadog-core, @Datadog/profiling, @Datadog/instrumentations-reliability, @ivoanjo

.github/CODEOWNERS:

*               @Datadog/libdatadog-core
ddprof*/        @Datadog/profiling
ddtelemetry/    @Datadog/instrumentations-reliability
ruby/           @ivoanjo

Rework Tag and tag parsing
  ddprof-exporter/src/tag.rs
  ddprof-ffi/src/tags.rs
Owners: @Datadog/profiling

Add license info to files
  ddprof-exporter/src/tag.rs
  ddprof-ffi/src/tags.rs
Owners: @Datadog/profiling

Adjust comment
  ddprof-exporter/src/tag.rs
Owners: @Datadog/profiling

Add CancellationToken for sending HTTP requests
  Cargo.lock
  ddprof-exporter/Cargo.toml
  ddprof-exporter/src/errors.rs
  ddprof-exporter/src/lib.rs
  ddprof-ffi/Cargo.toml
  ddprof-ffi/src/exporter.rs
  examples/ffi/exporter.cpp
Owners: @Datadog/libdatadog-core, @Datadog/profiling

Fix format
  ddprof-exporter/src/errors.rs
Owners: @Datadog/profiling

Fix name on Windows
  ddprof-exporter/src/connector/conn_stream.rs
Owners: @Datadog/profiling

Bump version to 0.6.0-rc.1
  Cargo.lock
  ddprof-exporter/Cargo.toml
  ddprof-ffi/Cargo.toml
  ddprof-profiles/Cargo.toml
  ddprof/Cargo.toml
Owners: @Datadog/libdatadog-core, @Datadog/profiling

Remove unused #[derive(Debug)]
  ddprof-exporter/src/connector/conn_stream.rs
Owners: @Datadog/profiling

Fix license check requirements
  LICENSE-3rdparty.yml
Owners: @Datadog/libdatadog-core

invert order of debug and pin_project macros to fix compilation issue on rust 1.56
  ddprof-exporter/src/connector/conn_stream.rs
Owners: @Datadog/profiling

Make `CancellationToken` optional when calling `Request::send`
  ddprof-exporter/src/lib.rs
Owners: @Datadog/profiling

Introduce `ddprof_ffi_CancellationToken_clone` and update example to use it
  ddprof-ffi/src/exporter.rs
  examples/ffi/exporter.cpp
Owners: @Datadog/profiling, @Datadog/libdatadog-core

auto format new cargo.tomls
  ddcommon/Cargo.toml
  ddtelemetry/Cargo.toml
Owners: @Datadog/libdatadog-core, @Datadog/instrumentations-reliability
